.wrapper {
    width: 802px;
    /* border: 3px solid red; */
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
    padding-bottom: 7px;
}

.navbar .details {
    font-weight: bold;
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
}

.navbar .details svg {
    border: 1px solid aqua;
}

.wrapper .img {
    width: 100%;
    /* border: 3px solid red; */
    margin-top: 30px;
}

.wrapper .img img {
    width: 100%;
}

.wrapper .title {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
    font-family: 'Crimson Pro', serif;
}

.wrapper .title p {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 4px;
}

.wrapper .title h1 {
    font-size: 28px;
}

.wrapper .content {
    width: 100%;
    /* border: 1px solid white; */
    margin-top: 25px;
}

.wrapper .content p {
    margin-bottom: 10px;
}

.wrapper .content em {
    font-style: italic;
}

.wrapper .content strong {
    font-weight: bold;
}

.wrapper .title .pretext {
    font-size: 13px;
    color: rgb(213, 213, 213);
    font-weight: 400;
    margin-top: 10px;
    width: 75%;
}

.wrapper .content {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}

.wrapper .content code {
    font-family: 'Fira Code', monospace;
    color: inherit;
}

.wrapper .content ol {
    list-style-type: decimal;
    margin: 10px 2rem 10px 0;
    margin-left: 2rem;
}

.wrapper .content ul {
    list-style-type: disc;
    margin: 10px 2rem 10px 0;
    margin-left: 2rem;
}

.wrapper .content a {
	position: relative;
	white-space: nowrap;
	width: fit-content;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #5100ff;
    transition: all 0.5s;
}

.wrapper .content a:hover {
    background: #5100ff;
    color: white;
}

.wrapper .content blockquote {
    background: none;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    border-left: 5px solid #5100ff;
}

.wrapper .content blockquote p {
    width: 80%;
    padding: 15px 0 15px 0;
    margin: 0;
    color: inherit;
}

.wrapper .content h2 {
    font-size: 25px;
    margin: 40px 0 20px 0;
    font-weight: bold;
    /* text-decoration: underline; */
    line-height: 27px;
}

.wrapper .content pre {
    background: #202824;
    /* color: white; */
    padding: 20px;
    margin: 20px 0;
    line-height: 2.3;
    color: white;
    overflow-x: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

@media only screen and (max-width: 850px) {
    .wrapper {
        width: 90%;
    }

    .wrapper .title .pretext {
        width: 90%;
    }
}