/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
    font-family: Poppins, sans-serif;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: #230366;
    overflow-x: hidden;
    color: white;
}

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay .nav-links {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-family: 'DM Sans', sans-serif;
}

.overlay .nav-links ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content!important;
}

.overlay .nav-links ul li {
    margin-top: 10px;
    width: fit-content!important;
}

.overlay .nav-links ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: white !important;;
    display: block; 
    padding: 0!important;
    transition: 0.3s;
    text-align: center;
    width: fit-content!important;
}

.add-width {
    width: 70vw;
}

.overlay a:hover, .overlay a:focus {
    color: #ccefff!important;
}

/* Position the close button (top right corner) */
.overlay .actions {
    position: absolute;
    top: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.white-bg {
    background: white;
}

.black-txt {
    color: black!important;
}

#black-txt {
    color: black!important;
}

#dark-blue-txt {
    color: rgb(34, 56, 169);
}

.gray-txt {
    color: rgb(65, 65, 65);
}

.main-wrapper .content-wrapper {
    width: 65%;
    /* border: 1px solid orange; */
}

nav {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}

nav .icon a {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 27px;
}

nav .navlinks {
    display: flex;
    align-items: center;

}

nav .navlinks ul {
    list-style-type: none;
    display: flex;
}

nav .navlinks ul li a {
    text-decoration: none;
    font-size: 16px;    
    padding-right: 25px;
    color: white;
    font-family: 'Crimson Text', serif;
}

.toggletheme {
    cursor: pointer;
}

.open-nav {
    display: none;
    cursor: pointer;
}

.fingers-crossed {
    /* border: 3px solid red; */
    position: absolute;
    right: 0;
    top: 30vh;
}

.pointing-fingers {
    position: absolute;
    left: 0;
    top: 120vh;
}

.info-text {
    /* border: 2px solid pink; */
    min-height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-text .image-wrapper {
    height: 200px!important;
    width: 200px!important;
    margin-bottom: 25px;
}

.info-text h1 {
    color: white;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
}

.info-text h3 {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
}

.info-text p {
    color: white;
    font-family: 'Crimson Text', serif;
    padding-top: 15px;
    width: 85%;
    margin-bottom: 20px;
}

.info-text .btn-group a {
    font-family: 'DM Sans', sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
    
    border-radius: 5px;
    margin-bottom: 25px;
    margin-right: 3px;
}

.info-text .mobile-btn-group {
    display: none;
}

.info-text .mobile-btn-group a {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: white;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 17px;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.resume-container {
    display: flex;
    justify-content: flex-end;
}

.resume-container .resume-text {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cv {
    margin-top: 70px;
    font-family: 'Crimson Pro', serif;
    color:  #BFF4FF;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

.work {
    margin-top: 15px;
    font-family: 'DM Sans', sans-serif;
}

.work .title {
    font-style: italic;
    font-size: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.title .job {
    font-style: normal;
    font-weight: bold;
}

.title .location {
    color: rgb(189, 200, 253);
    text-decoration: none;
    cursor: pointer!important;

}

.description {
    font-size: 11px;
    margin-top: 10px;
}

.resume-container .resume-text .past-work {
    width: 49%;
}

.resume-container .resume-text h1 {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 20px;
}

.resume-container .resume-text .current-work {
    width: 47%;
}

.footer-container {
    border-top: 2px solid #C9C9C9;
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.footer-container .links ul {
    display: flex;
    margin-left: 30px;
}

.footer-container .links ul li a {
    text-decoration: none;
    padding-right: 15px;
    color: white;
    font-size: 15px;
    font-family: 'Crimson Text', serif;
}

.footer-container .about {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-container .about p {
    font-size: 17px;
    font-family: "DM Sans", sans-serif;
}

.footer-container .about small {
    font-size: 10px;
    font-family: 'DM Sans', sans-serif;
}

@media only screen and (max-height: 700px) {
    .info-text .image-wrapper {
        margin-top: 100px;
    }

    .info-text {
        margin-bottom: 50px;
    }

}

@media only screen and (max-width: 1270px) {
    .pointing-fingers {
        width: 350px;
    }
}

@media only screen and (max-width: 1100px) {
    .resume-container .resume-text {
        /* border: 1px solid purple; */
        width: 90%;
    }

    .pointing-fingers {
        width: 200px;
    }
}

@media only screen and (max-width: 900px) {
    .resume-container .resume-text {
        width: 100%;
    }

    .pointing-fingers {
        display: none;
    }

    .footer-container {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 1200px) {
    .fingers-crossed {
        /* border: 3px solid red; */
        width: 450px;
    }

    .info-text {
        min-height: 90vh;
        width: 80%;
    }

}

@media only screen and (max-width: 950px) {
    .fingers-crossed {
        /* border: 3px solid aqua; */
        width: 300px;
    }

    .info-text {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .fingers-crossed {
        display: none;
    }

    nav .navlinks, nav .toggletheme {
        display: none;
    }

    .footer-container { 
        justify-content: flex-end;
     }

    .footer-container .links {
        display: none;
    }

    nav .open-nav {
        display: block
    }

    .info-text .mobile-btn-group { 
        display: block;
        width: 100%;
    }

    .info-text .btn-group {
        display: none;
    }

    .resume-container .resume-text {
        flex-direction: column-reverse;
    }

    .resume-container .resume-text .current-work {
        width: 100%;
    }

    .resume-container .resume-text .past-work {
        width: 100%;
        margin-top: 30px;
    }

}


@media only screen and (max-width: 600px) {
    .main-wrapper .content-wrapper {
        /* border: 2px solid crimson; */
        width: 75%;
    }

    .info-text h1 {
        font-size: 23px;
    }

    .info-text h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 460px) {
    .main-wrapper .content-wrapper {
        width: 90%;
    }

    .info-text .image-wrapper {
        width: 150px!important;
        height: 150px!important;
    }

    /* .footer-container .contacts a {
        width: 100%!important;
        border: 1px solid pink;
    } */
}


@media only screen and (max-width: 370px) {
    .info-text {
        margin-bottom: 70px;
    }
}

@media only screen and (max-height: 700px) {
    .resume-container .resume-text .current-work {
        margin-top: 50px;
    } 
}