.topwrap {
    margin-top: 60px;
    margin-bottom: 70px;
}

.title {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 8px;
}

.subtext {
    font-family: 'Crimson Text', serif;
}

.projectcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projectcontainer .projects {
    width: 40%
}

.projectcontainer .skills {
    width: 40%;
}

.projectcontainer .skills h3 {
    font-family: 'Crimson Text', serif;
    font-size: 21px;
}

.projectcontainer .projects .project {
    margin-bottom: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.projectcontainer .projects .project h4 {
    font-weight: bold;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;

}

.projectcontainer .projects .project p {
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    padding-bottom: 5px;
}

.pills {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 9px;
}

.pill {
    font-family: 'DM Mono';
    font-size: 10px;
    background: #BFBFBF;
    border: 2px solid #616161;
    color: #858585;
    padding: 7px 17px 7px 17px;
    border-radius: 15px;
    font-weight: bold;
    margin-right: 4px;
    cursor: pointer;
}

.imagewrapper {
    width: 100%!important;
}

.imagewrapper {
    width: 100%!important;
}